<div class="modal-header">
  <h5 class="modal-title">Añadir Rol</h5>
  <button type="button" class="btn-close" (click)="bsModalRef.hide()"></button>
</div>
<div class="modal-body">
  <form [formGroup]="form.FormGroup" (ngSubmit)="formSubmit()">
    <div class="mb-3">
      <label class="form-label">Nombre</label>
      <input type="text" class="form-control" formControlName="name" placeholder="Nombre del rol"
      [ngClass]="{'is-invalid': form.submitted && Form.name.errors, 'is-valid': form.submitted && !Form.name.errors}"/>
        <div *ngIf="form.submitted && Form.name.errors" class="invalid-feedback">
          <span *ngIf="Form.name.errors.required">El nombre del rol es obligatorio.</span>
          <span *ngIf="Form.name.errors?.['pattern']">El nombre solo puede contener letras y números.</span>
        </div>
    </div>
    <div class="mb-3">
      <label class="form-label">Descripción</label>
      <textarea class="form-control" formControlName="description" placeholder="Descripcion del rol"
      [ngClass]="{'is-invalid': form.submitted && Form.description.errors, 'is-valid': form.submitted && !Form.description.errors}"
      ></textarea>
      <div *ngIf="form.submitted && Form.description.errors" class="invalid-feedback">
        <span *ngIf="Form.description.errors.required">La descripción es obligatoria.</span>
        <span *ngIf="Form.description.errors?.['pattern']">La descripción solo puede contener letras.</span>
        <span *ngIf="Form.description.errors?.['minlength']">La descripción debe tener al menos 10 caracteres.</span>
      </div>
    </div>

    <div class="mb-3">
      <label class="form-label">Permisos del Rol</label>
      <div id="permissions-tabs" class="bg-light rounded p-3">
        <tabset [justified]="true" class="nav-pills nav-justified">
          <tab heading="{{permission.key}}" *ngFor="let permission of permissions | keyvalue;">
            <div class="row g-3 mt-2">
              <div class="col-4" *ngFor="let item of permission.value; let i = index">
                <div class="form-check">
                  <input
                      class="form-check-input"
                      type="checkbox"
                      [value]="item.id"
                      (change)="onCheckChange($event)"
                      id="permission{{item.id}}"
                    >
                    <label class="form-check-label" for="permission{{item.id}}">
                      {{ item.view_name }}
                    </label>
                </div>
              </div>
            </div>
          </tab>
        </tabset>
      </div>
    </div>

    <div class="text-end">
      <button type="button" class="btn btn-light me-2" (click)="bsModalRef.hide()">
        Cancelar
      </button>
      <button type="submit" class="btn btn-success" [disabled]="form.submitting">
        Guardar
      </button>
    </div>
  </form>
</div>
