<div id="div-filters">
  <ng-select [items]="selectValue" [multiple]="true" id="select-services"
    (change)="onServicesChange($event)" placeholder="Filtro de servicios"></ng-select>
  <select name="select-levels" id="select-levels" class="form-control" placeholder="Filtro de nivel del hospital"
    (change)="onLevelChange($event)">
    <option value="" selected>Filtro del nivel hospital</option>
    <option *ngFor="let level of selectLevel" [value]="level">{{ level }}</option>
  </select>
  <select name="select-zones" id="select-zones" class="form-control" placeholder="Filtro de la zona del hospital"
    (change)="onZoneChange($event)">
    <option value="" selected>Filtro de la zona hospital</option>
    <option *ngFor="let zone of selectZones" [value]="zone">{{ zone }}</option>
  </select>
  <select name="select-district" id="select-district" class="form-control"
    placeholder="Filtro del distrito del hospital" (change)="onDistrictChange($event)">
    <option value="" selected>Filtro del distrito hospital</option>
    <option *ngFor="let district of selectDistricts" [value]="district">{{ district }}</option>
  </select>
</div>
<div style=" height: 100vh; width: 100%" leaflet [leafletOptions]="options" [leafletLayers]="markers"
  [ngClass]="{'updated-map': isUpdated}" (animationend)="resetAnimation()">
</div>
